<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuiClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <GuiClient.Properties.Settings>
            <setting name="DefaultExtractionFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RetrievePassUrl" serializeAs="String">
                <value>https://www.longaccess.com/admin/password_reset/</value>
            </setting>
            <setting name="SingUpUrl" serializeAs="String">
                <value>https://www.longaccess.com/accounts/register/</value>
            </setting>
            <setting name="DownloadUrl" serializeAs="String">
                <value>http://the.longaccess.com/downloads/</value>
            </setting>
        </GuiClient.Properties.Settings>
    </userSettings>
</configuration>
